body {
	padding: 3% 4%;
	font-size: 14px;
	font-family: helvetica;
	color: black;
	background: #d0e8e8;
}

.content { position: relative; }

.tag {
	font-size: 12px;
    font-family: verdana;
    color: #119966;
    background-color: #c8e8d8;
}

p { line-height: 180%; }

dd { margin: 0 0 1% 2%; }

a, a:visited { color: #2525d5; }

.width-50pc { width: 50%; }

.f-left { float: left; }
.f-right { float: right; }
